body {
    margin: 0;
    font-family: serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #343542;
    color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center;
  }
  
  .sidebar a:hover {
    background-color: black;
    color: white;
  }
  
  div.content {
    margin-left: 18%;
    padding: 1px 16px;
    height: 1000px;
    background-color: #1a1b22;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .prof_image{
    align-items: center;
    margin: 5%;
  }

  .about {
    margin: 5%;
  }

  .experiences {
    margin-left: 2%;
    margin-right: 2%;
  }

  .col1 {
    text-align: left;
  }
  .col2 {
    text-align: right;
    vertical-align: top;
  }

  .texts{
    margin-left: 5%;
    margin-right: 5%;
  }

  .spacer {
    height: 15px;
  }

  .summary {
    text-align: justify;
  }

  #myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }